{% extends "auctions/layout.html" %}

{% block body %}
    {% if listings %}    
        <h2>Active Listings</h2>
       
            <ul>
                {% for listing in listings %}
                <li>
                    <a href="{% url 'listing' listing.id %}"> {{listing.title}}, Details: {{listing.description}}, Current price: {{ listing.current_price }} </a>
                </li>
                {% endfor %}
            </ul> 
    {% else %}
        <h3> No active listings for this category </h3>
    {% endif %}

   
{% endblock %}