{% extends "auctions/layout.html" %}

{% block title %}
    {{ listing.title }}
{% endblock %}

{% block body %}

    <h1>{{ listing.title }}</h1>
        <p>Details: {{ listing.description }}</p>
        
        {% if listing.image_url %}
            <img src="{{ listing.image_url }}" alt="">
        {% endif %}

        {% if listing.category %}
            <p>Category: {{ listing.category }}</p>
        {% endif %}

        <p>Current price: {{ listing.currency }} {{ listing.current_price}}</p>


    {% if user.is_authenticated %} 
     
                <a href="{% url 'remove_listing' listing_id=listing.id %}">Remove from watchlist</a>
    
                <a href="{% url 'add_to_watchlist' listing_id=listing.id %}">Add to watchlist!</a>


    {% endif %}


{% endblock %}