* {
  margin: 0;
  padding: 0;
}

/* Body - Header*/

#top-links {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.5rem;
  margin-right: 3rem;
}

#top-links i {
  margin-top: 0.3rem;
  color: #5f6368;
}

#top-links i:hover {
  cursor: pointer;
}

#top-buttom {
  width: 5%;
}

#sign-in-buttom {
  background-color: #4485ed;
  border: hidden;
  border: solid 10px #4485ed;
  color: #ffff;
  font-size: 13px;
  height: 2.2rem;
  letter-spacing: 0.25px;
  width: 100%;
  vertical-align: middle;
}

#sign-in-buttom:hover {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;
  filter: brightness(103%);
}

/* Body */

.container {
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.row {
  display: flex;
  justify-content: center;
  margin: 0%;
  width: 100%;
}

img {
  margin-top: 11%;
  width: 23%;
}

/*Just for Google Image */

#subtitle-google {
  color: #4285f4;
  font: 20px roboto-regular, arial, sans-serif;
  position: absolute;
  margin-top: 20.5rem;
  margin-left: 14rem;
  white-space: nowrap;
}

#input-search-images {
  height: 206.5%;
}

#camera-icon {
  color: #757575;
  font-size: 20px;
}

#right-search-icon {
  color: #4285f4;
  margin-left: -0.5rem;
}

#camera-icon,
#right-search-icon:hover {
  cursor: pointer;
}

/* End of "just for google images" */

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.input-search {
  width: 35%;
  border: 1px #bec2c5 solid;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45%;
}

.input-search:hover {
  box-shadow: 2px 2px 4px 2px #dbdbdb;
}

i {
  padding-left: 1rem;
  color: #bec2c5;
  margin-right: 1rem;
}

#input-text {
  border: hidden;
  width: 100%;
  height: 100%;
  background-color: transparent;
  font-size: 1rem;
  font-family: arial, sans-serif;
}

#input-text:focus {
  outline: none;
}

#buttom {
  margin-top: 1rem;
  padding: 1rem;
}

.buttom-search {
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  width: 7%;
  height: 2rem;
  border: hidden;
  background-color: #f8f9fa;
  font-size: 0.8rem;
  font-family: arial, sans-serif;
  border-radius: 5px;
}

.buttom-search:hover {
  border: 0.2px #c2c2c2 solid;
  box-shadow: 0.5px 0.5px 1px 0.5px #c2c2c2;
  cursor: pointer;
}

/* Footer */

footer {
  position: absolute;
  width: 100%;
  margin-top: auto;
  height: 6rem;
  bottom: 0;
  background-color: #f2f2f2;
}

.footer-row {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0.3rem;
}

.child-footer-row {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: flex-end;
}

#links-left {
  width: 85%;
}

#links-right {
  width: 15%;
}

p,
a,
label#bar-menu {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  padding-left: 1.5rem;
  color: #6d6c6c;
  text-decoration: none;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

#country-div {
  border-bottom: 1px solid #dbdada;
}

a:hover,
label#bar-menu:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* Hidden menu */

#hidden-menu {
  width: 63.1833px;
  position: absolute;
  margin-left: 9.2rem;
  margin-top: -1.2rem;
}

input#check {
  display: none;
}

label#bar-menu {
  cursor: pointer;
  text-align: left;
  border: none;
  background: none;
}

ul#menu-list {
  display: none;
  position: absolute;
  list-style: none;
  background-color: #ffff;
  border: 1px solid #6d6c6c;
  width: 10rem;
  margin-left: -5rem;
  margin-top: -4.3rem;
}

ul#menu-list:hover {
  display: block;
}

li.items {
  list-style: none;
}

.a-links {
  display: block;
  text-decoration: none;
}

#check:checked ~ ul#menu-list {
  display: block;
}
